@font-face {
  font-family: 'Arvo';
  font-display: auto;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
*{
box-sizing: border-box;
}
html{
  height: 100%;
}
body{
margin: 0;
text-align: center;
height: 100%;
}
#root{
  height: 100%;
}
#root > div:nth-child(1){
  height: 100%;
}

.loader {
  padding-top: 300px;
  height: 100vh;
  background: #00bfff;
  text-align: center;
}

.loader h1 {
  font-size: 50px;
}


#wrapStart {
  padding-top: 300px;
  position: relative;
  height: 100%;
  background: url(../assets/images/space.jpg) 50% 50%/cover,#00bfff;
  overflow: hidden;
}

#earth {
  position: absolute;
  width: 950px;
  padding-top: 950px;
  left: 50%;
  margin-left: -475px;
  top:3%;
  background: url(../assets/images/earthMap.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 1900px;
  animation: rotate 120s linear infinite;
  transform-style: preserve-3d;
  box-shadow: inset 60px 0 230px 18px rgba(0, 0, 0, 1);
}

#earth:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -220px 45px 230px 35px rgba(0,0,0,.9) inset;
}

#earth:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 300px 300px, #fff, #000);
}

#start{
  opacity: 0.9;
  display: block;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 3px;
  margin: 0 auto;
  width: 306px;
  height: 137px;
  background: url(../assets/images/button1.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
  transition: .3s;
}
#start + div {
  padding: 1% 0;
}

#records{
  margin: 0 auto;
  width: 50%;
  color: #f4f5f9;
  font-family: 'Istok Web', sans-serif;
  border-color: #f4f5f9;
  border-spacing: 0;
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
  font-size: 30px;
  letter-spacing: 3px;
  transition: .3s;
}

td,tr {
  border: 2px solid;
  width: auto;
}

tr > td:nth-child(2){
  width: auto;
}

#backFromTable{
  opacity: 0.9;
  display: block;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  margin: 50px auto 0;
  width: 250px;
  height: 113px;
  background: url(../assets/images/button1.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
  transition: .3s;
}

#backFromRules{
  opacity: 0.8;
  display: block;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 3px;
  margin: 50px auto 0;
  width: 280px;
  height: 125px;
  background: url(../assets/images/buttonYellow.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
}

#settings {
  opacity: 0.9;
  display: block;
  margin: 0 auto;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 2.5px;  
  width: 306px;
  height: 137px;
  background: url(../assets/images/buttonViolet.png) 50% 50%/cover !important;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: .3s;
}
#rules {
  opacity: 0.9;
  vertical-align: middle;
  display: inline-block;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black;
  letter-spacing: 2.5px;
  margin: 0 auto;
  width: 306px;
  height: 137px;
  background: url(../assets/images/button3.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
  transition: .3s;
}
#yourRecords {
  opacity: 0.9;
  vertical-align: middle;
  display: inline-block;
  margin-left: 7% !important;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black;
  letter-spacing: 2.5px;
  margin: 0 auto;
  width: 306px;
  height: 137px;
  background: url(../assets/images/button4.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
  transition: .3s;
}

#back{
  opacity: 0.9;
  display: none;
  margin: 0 auto;
  font-size: 40px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 2px;
  width: 280px;
  height: 125px;
  background: url(../assets/images/button2.png) 50% 50%/cover !important;
  border: none;
  cursor: pointer;
  transition: .3s;
}
#start:focus, #settings:focus, #rules:focus, #yourRecords:focus, #back:focus {
  outline: none;
}

#start:hover, #settings:hover, #rules:hover, #yourRecords:hover, #back:hover, #backFromTable:hover, #AllWorld:hover, 
.FlagGameBtn:hover, .CapitalGameBtn:hover, #apply:hover, #afterEnd:hover, #endMenu:hover, #backFromRules:hover{
  opacity: 1;
  transform: scale(1.1);
  transition: .3s;
  z-index: 3;
}
#textLose{
  display: block;
}

#textBonus, #textLose{
  color: #f4f5f9;
  font-family: 'Vollkorn', serif;
}
#record, #continentName, #nameGame, #countryName{
  color: #f4f5f9;
  font-family: 'Istok Web', sans-serif;
}
#wrap,#end {
  display: none;
  position: relative;
  height: 100%;
  margin: 0 auto;
  background:url(../assets/images/karta_mira.jpg) 50% 50%/cover  rgba( 0, 0, 0, 0.5);
  background-blend-mode: multiply;
  padding-top: 15px;
  overflow: auto;
}


#newGame {

  margin: 0 auto;
}

#countryName {
  margin-top: 15px;
   margin-bottom: 15px;
}

#flag {
  width: 500px;
  height: 280px;
  margin: 0 auto;
}
#firstChange,#secondChange,#fourthChange,#thirdChange {
  display:inline-block; 
 padding-top: 45px;
  margin:20px 30px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 35px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color:#f4f5f9;
  letter-spacing: 2px;
  width: 320px;
  height: 150px;
  background: url(../assets/images/BtnBlkWhtBrdr.png) 50% 50%/cover;
}

#firstChange:hover, #secondChange:hover, #thirdChange:hover, #fourthChange:hover{
  color: #00bfff;
}

#blokHealh{
  position: absolute;
  top: 5%;
  right: 2%;
  text-align: center;
}
#health_1,#health_2,#health_3{
display: inline-block;
width: 50px;
height: 50px;
background: transparent;
}

#bonuses{
  position: absolute;
  top: 25px;
  left: 10px;
  text-align: center;
}

#biscuit{
  display: inline-block;
  position: relative;
  margin-left: 10px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  vertical-align: middle;
  background: url(../assets/images/earthMap.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 200px;
  animation: rotates 4s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 5px 0 25px 3px rgba(0, 0, 0, 1);
}

#biscuit:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -25px 7px 55px 5px rgba(0,0,0,.9) inset;
}

#biscuit:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}

@keyframes rotates {
  0% {background-position: 0 0;}
  100% {background-position: 200px 0;}
}

.map
{
    position: relative;
    text-align: center;
}
svg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 99.5%;
    width: 100%;
}
path
{
    opacity: 0.7;
    fill:black;
    cursor: pointer;
    transition: 0.3s;
}
path:hover
{
    opacity: 0.1!important;
    transition: 0.3s ;
}

#options {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  margin: 0 auto;
  background:lightblue;
  padding-top: 20px;  
}

#rulesSheet{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0 10%;
  margin: 0 auto;
  background:url(../assets/images/paper_texture3878.jpg) 50% 50%/cover;
  font-family: 'Lobster', cursive;
}

#rulesSheet > h2{
  font-size: 50px;
}

#rulesSheet > div{
  font-size: 25px;
  margin-top: 30px;
}

#rulesSheet > div > span{
  font-weight: 700;
}

input {
  display: none;
}

#AllWorld{
  display: inline-block;
  position: absolute;
  left:46%;
  bottom: -7%;
  padding-top: 15px;
  width: 160px;
  height: 70px;
  cursor: pointer;
  background: url(../assets/images/button3.png) 50% 50%/cover;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 27px;
  font-family: 'Ubuntu Condensed', sans-serif;
}


.FlagGameBtn{
  display: inline-block;
  font-size: 25px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 2px;
  width: 135px;
  height: 60px;
  background: url(../assets/images/buttonOrange.png) 50% 50%/cover !important;
  cursor: pointer;
  transition: .5s;
}

.CapitalGameBtn{
  display: inline-block;
  margin-left: 15%; 
  font-size: 25px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 2px;
  width: 135px;
  height: 60px;
  background: url(../assets/images/buttonOrange.png) 50% 50%/cover !important;
  cursor: pointer;
  transition: .5s;
}


#asiaInput {
  display: inline-block;
  position: absolute;
  right:10%;
  top: 25%;
  padding-top: 25px;
  width: 150px;
  height: 75px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
}

#europaInput {
  display: inline-block;
  position: absolute;
  right:48%;
  top: 15%;
  padding-top: 25px;
  width: 150px;
  height: 75px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
}

#africaInput {
  display: inline-block;
  position: absolute;
  left:45%;
  bottom: 38%;
  padding-top: 25px;
  width: 150px;
  height: 75px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
}

#sAmericaInput {
  display: inline-block;
  position: absolute;
  left:14%;
  bottom: 30%;
  padding-top: 25px;
  width: 150px;
  height: 120px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
}
#nAmericaInput {
  display: inline-block;
  position: absolute;
  left:8%;
  top: 24%;
  padding-top: 25px;
  width: 150px;
  height: 120px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
}

#oceaniaInput {
  display: inline-block;
  position: absolute;
  right:18%;
  padding-top: 25px;
  bottom: 30%;
  width: 150px;
  height: 75px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
}

#changeAsia:checked ~ #asiaInput,#changeEurope:checked ~ #europaInput,
#changeAfrica:checked ~ #africaInput,#changeSouthAmerica:checked ~ #sAmericaInput,
#changeNorthAmerica:checked ~ #nAmericaInput,#changeOceania:checked ~ #oceaniaInput,
#changeAllContinents:checked ~ #AllWorld,#changeFlags:checked ~ .FlagGameBtn,
#changeCapitals:checked ~ .CapitalGameBtn {
 background: url(../assets/images/button1.png) 50% 50%/cover;
 transform: scale(1.35);
 opacity:1;
}



#recordsTable{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  margin: 0 auto;
  background:url(../assets/images/funnyWmap.jpg) 50% 50%/cover rgba( 0, 0, 0, 0.8);
  background-blend-mode: multiply;
  padding-top: 25px;
}

#apply{
  position: absolute;
  bottom: 5%;
  left: 46%;
  font-size: 27px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black; 
  text-align: center;
  width: 160px;
  height: 70px;
  background: url(../assets/images/buttonViolet.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
}
#changeContinent {
margin-top: 25px;
}

#goBackFlags {
  display: inline-block;
  font-size: 23px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.55);
  letter-spacing: 2px;
  width: 150px;
  height: 67px;
  background: url(../assets/images/button4.png) 50% 50%/cover !important;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px;
  transition: .5s;
}

#hint {
  display: inline-block;
  vertical-align: top;
  margin: auto 0;
  font-size: 23px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.55); 
  letter-spacing: 2.5px;
  width: 150px;
  height: 67px;
  border: none;
  cursor: pointer;
   margin-right: 15px;
   margin-top: 15px;
   transition: .5s;
}

#hint:hover, #goBackFlags:hover {
  transition: .5s;
  color: rgba(0, 0, 0, 1)
}


#textBonus{
display: block;
margin-top: 10px;
}

#endText{
  margin-top: 30vh;
  font-family: 'Press Start 2P', cursive;
  color: #f4f5f9;
  font-size: 5em;
}
#loose{
  margin-top: 5vh;
  font-family: 'Prosto One', cursive;
  color: #f4f5f9;
  font-size: 3em;
}

#afterEnd{
  margin-top: 13vh;
  opacity: 0.9;
  display: inline-block;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 3px;
  width: 250px;
  height: 113px;
  background: url(../assets/images/button3.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
}
#endMenu{
  margin-left: 8%; 
  vertical-align: bottom;
  opacity: 0.9;
  display: inline-block;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 3px; 
  width: 250px;
  height: 113px;
  background: url(../assets/images/button4.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
}

#noRecords{
  margin-top: 5vh;
  font-family: 'Prosto One', cursive;
  color: #f4f5f9;
  font-size: 3em;
}

@media (min-width: 1000px) {
@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 1900px 0;}
  }
}

@media (max-width: 1000px) {
  #earth{
    top: 25%;
  }

  #options{
    padding-top: 20%; 
  }

  svg{
    width:102%;
  }

  #apply{
  position: absolute;
  bottom: 20%;
  left: 38%;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black; 
  letter-spacing: 2.5px;
  width: 275px;
  height: 120px;
  background: url(../assets/images/buttonViolet.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
}

#AllWorld{
  position: absolute;
  left:38%;
  bottom: -20%;
  padding-top: 10px;
  width: 275px;
  height: 120px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
}


.FlagGameBtn{
  display: inline-block;
  opacity: 1;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 2px;
  width: 275px;
  height: 120px;
  background: url(../assets/images/buttonOrange.png) 50% 50%/cover !important;
  cursor: pointer;
}

.CapitalGameBtn{
  display: inline-block;
  opacity: 1;
  margin-left: 15%; 
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 2px;
  width: 275px;
  height: 120px;
  background: url(../assets/images/buttonOrange.png) 50% 50%/cover !important;
  cursor: pointer;
  
}

#rulesSheet{
  padding: 0 1%;
}

#rulesSheet > h2{
  font-size: 70px;
}

#rulesSheet > div{
  font-size: 40px;
  margin-top: 25px;
}

#records{
  margin: 0 auto;
  width: 75%;
  color: #f4f5f9;
  font-family: 'Istok Web', sans-serif;
  border-color: #f4f5f9;
  border-spacing: 0;
  border-width: 5px;
  border-style: solid;
  border-collapse: collapse;
  font-size: 50px;
  letter-spacing: 3px;
}

td,tr {
  border: 5px solid;
  width: auto;
}

tr > td:nth-child(2){
  width: auto;
}

#textLose{
  display: block;
  font-size: 32px;
  margin-top: 15px;
  }

 #health_1,#health_2,#health_3{
  display: inline-block;
  width: 75px;
  height: 75px;
  background: transparent;
}


  #textBonus {
  font-size: 32px;
  }

  #biscuit{
  display: inline-block;
  position: relative;
  margin-left: 10px;
  width: 140px;
  height: 140px;
  font-size: 50px;
  vertical-align: middle;
  background: url(../assets/images/earthMap.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 280px;
  animation: rotates 4s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 5px 0 25px 3px rgba(0, 0, 0, 1);
}

#biscuit:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -25px 7px 55px 5px rgba(0,0,0,.9) inset;
}

#biscuit:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}

@keyframes rotates {
  0% {background-position: 0 0;}
  100% {background-position: 280px 0;}
}

  #record,#countryName {
    font-size: 32px;
  }
  #continentName {
    font-size: 48px;
  }

  #nameGame {
    font-size: 64px
  }



  #record, #continentName, #nameGame, #countryName{
  color: #f4f5f9;
  font-family: 'Istok Web', sans-serif;
}

  #flag {
  width: 500px;
  padding-top:300px;
  margin: 0 auto;
}
  .forMedia {
  margin-top: 30%;
  }

  #goBackFlags {
  display: inline-block;
  font-size: 32px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.55);
  letter-spacing: 2px;
  width: 300px;
  height: 134px;
  background: url(../assets/images/button4.png) 50% 50%/cover !important;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 100px;
}

#hint {
  display: inline-block;
  margin: auto 0;
  font-size: 32px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black; 
  letter-spacing: 2.5px;
  width: 300px;
  height: 134px;
  background: url(../assets/images/button1.png) 50% 50%/cover !important;
  border: none;
  cursor: pointer;
  opacity: 0.9;
   margin-right: 15px;
   margin-top: 35px;
}
#firstChange,#secondChange,#fourthChange,#thirdChange {
 
  display:inline-block; 
  padding-top: 60px;
  margin:25px 35px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color:#f4f5f9;
  letter-spacing: 2px;
  width: 420px;
  height: 200px;
  background: url(../assets/images/BtnBlkWhtBrdr.png) 50% 50%/cover;
}

#start{
  display: block;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 3px;
  margin: 0 auto;
  width: 330px;
  height: 150px;
  background: url(../assets/images/button1.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
}

#settings {
  display: block;
  margin: 0 auto;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 2.5px;  
  width: 330px;
  height: 150px;
  background: url(../assets/images/buttonViolet.png) 50% 50%/cover !important;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}
#rules {
  vertical-align: middle;
  display: inline-block;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black;
  letter-spacing: 2.5px;
  margin: 0 auto;
  width: 330px;
  height: 150px;
  background: url(../assets/images/button3.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}
#yourRecords {
  vertical-align: middle;
  display: inline-block;
  margin-left: 7% !important;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black;
  letter-spacing: 2.5px;
  margin: 0 auto;
  width: 330px;
  height: 150px;
  background: url(../assets/images/button4.png) 50% 50%/cover;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

#back{
  display: none;
  margin: 0 auto;
  font-size: 40px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black !important;
  letter-spacing: 2px;
  width: 330px;
  height: 150px;
  background: url(../assets/images/button2.png) 50% 50%/cover !important;
  border: none;
  cursor: pointer;
   margin-top: 25px;
}

}
